<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title><%= @title %></title>
        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/screen.css">
    </head>
    <body>
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <div id="wrapper">
            <header class="container">
                <div class="row">
                    <div class="span12">

                    </div>
                </div>
            </header>
            <article class="container">
                <%= yield %>
            </article>
            <div class="push"></div>
        </div>
        <footer class="container">
            <div class="row">
                <div class="span12">
                    
                </div>
            </div>
        </footer>
    </body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</html>